@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:floralwhite;
    padding: 0 20%;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    font-style: italic;
}

header{
    color: goldenrod;
}

h1{
    text-align: center;
    margin: 20px 0px;
    font-size: 32px;
}

h2{
    margin: 10px 0px;
    font-size: 24px;
}

.info{
    margin-left: 10px;
}

.bold{
    font-size: 18px;
    font-weight: bold;
}

p{
    text-align: justify;
    line-height: 1.5;
    margin: 15px 0px;
}

img{
    height: 60px;
    width: 150px;
    border-bottom: 2px solid goldenrod;
}

.firma{
    display: block;
    float: right;
    margin-right: 20px;
    color: goldenrod;    
}